{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "function-name-case": "lower",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "where"
        ]
      }
    ]
  }
}
